.footer-bg{
    background-color: black;
    padding-top:50px;
    padding-bottom:30px;
}

.working-hours{
    list-style: none;
    padding-left: 0px;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: #FF780F;
    border-radius: 50%;
    border: 1px solid #FF780F;
    padding: 10px;
    transition: 0.4s;
}

.social-media .icon:hover{
    background-color: #FF780F;
    color: white;
}

.text-color{
    color: #FF780F;
    transition: 0.4s;
    cursor: pointer;
}

.text-color:hover{
    color: whitesmoke;
}
